/* IMPORTS */
@import "variables.scss";
@import "reset.scss";

/* VERSION: PC */
#pc-wrap {
  width: 100%;
  height: 100%;
  .container {
    position: relative;
    margin: 0 auto;
    width: 1300px;
    display: flex;
  }
}

/* VERSION: MOBILE */
